<!doctype html>
<html lang="en">

<body id="page_setup">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->

    <!-- Body Wrapper Start -->
    <div class="body_wrapper container-fluid">
        <div class="row pt-4 px-2">
            <div class="col-12">
                <div class="d-flex align-items-center head-tag cursor-pointer" (click)="back()">
                    <h4> <i class="icon-arrow-left"></i> Surcharges and Discounts</h4>
                </div>
            </div>
        </div>
        <div class="px-2">
            <mat-tab-group>
                <mat-tab label="Additional Surcharges">
                    <div class="col-12">
                        <div class="d-flex align-items-center head-tag head-tag-light mt-2">
                            <h2>Additional Surcharges</h2>
                            <button class="btn-setup-sucess" (click)="addSurcharge()"><i class="icon-plus mr-1"></i>Add Surcharge</button>
                        </div>
                        </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Walk-In</th>
                                <th scope="col">Dine-In</th>
                                <th scope="col">Call Center</th>
                                <th scope="col">Take Away</th>
                                <th scope="col">e-Order</th>
                                <th scope="col">Is Taxable?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="Order Discounts">
                    <div class="col-12">
                        <div class="d-flex align-items-center head-tag head-tag-light mt-2">
                            <h2>Order Level Discount</h2>
                            <button class="btn-setup-sucess" (click)="addOrderDiscount()"><i class="icon-plus mr-1"></i>Add Order Discount</button>
                        </div>
                        </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col"> Rate</th>
                                <th scope="col">Walk-In</th>
                                <th scope="col">Dine-In</th>
                                <th scope="col">Call Center</th>
                                <th scope="col">Take Away</th>
                                <th scope="col">e-Order</th>
                                <th scope="col">On Total?</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="Item Discounts"> 
                    <div class="col-12">
                        <div class="d-flex align-items-center head-tag head-tag-light mt-2">
                            <h2>Line Level Discount</h2>
                            <button class="btn-setup-sucess" (click)="addItemDiscount()"><i class="icon-plus mr-1"></i>Add Item Discount</button>
                        </div>
                        </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col"> Rate</th>
                                <th scope="col">Walk-In</th>
                                <th scope="col">Dine-In</th>
                                <th scope="col">Call Center</th>
                                <th scope="col">Take Away</th>
                                <th scope="col">e-Order</th>
                                <th scope="col">On Total?</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    
</body>

</html>