<!doctype html>
<html lang="en">

<body id="page_setup">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->

    <!-- Body Wrapper Start -->
    <div class="body_wrapper container-fluid">
        <div class="row pt-4 px-2">
            <div class="col-12">
                <div class="d-flex align-items-center head-tag">
                    <h2>Locations</h2>
                    <button class="btn-setup-sucess" (click)="addLocation()"><i class="icon-plus mr-1"></i>Add Location</button>
                </div>
                </div>
            <div class="col-12 col-sm-3 com-md-3">
                <div class="card p-3 p-xl-4 mb-3 cursor-pointer tag-hvr-scn" (click)="edit()">
                    <div class="card-inner-tags">
                    <h3>IFA</h3>
                    <p>123 Address <br>
                        City, Qatar
                    </p>
                    <p><i class="icon-phone px-1"></i>+97 8120522051</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
