<!doctype html>
<html lang="en">

<body id="page_setup">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->

    <!-- Body Wrapper Start -->
    <div class="body_wrapper container-fluid">
        <div class="row pt-4 px-2">
            <div class="col-12">
                <div class="d-flex align-items-center head-tag cursor-pointer" (click)="location()">
                    <h4> <i class="icon-arrow-left"></i> Locations</h4>
                </div>
                </div>
            <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="generalDetails()">
                <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                    <div class="text-center card-inner-scn">
                        <i class="icon-map-marker"></i>
                        <p>General Details</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="menu()">
                <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                    <div class="text-center card-inner-scn">
                        <i class="zmdi zmdi-cutlery"></i>
                        <p>Menu Management</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="staff()">
                <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                    <div class="text-center card-inner-scn">
                        <i class="zmdi zmdi-accounts-alt"></i>
                        <p>Staff</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 com-md-3 cursor-pointer">
                <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                    <div class="text-center card-inner-scn">
                        <i class="zmdi zmdi-settings"></i>
                        <p>Dining Sections</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 com-md-3">
                <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                    <div class="text-center card-inner-scn">
                        <i class="icon-user"></i>
                        <p>Printer & Peripheral Settings</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 com-md-3 cursor-pointer">
                <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                    <div class="text-center card-inner-scn">
                        <i class="icon-globe"></i>
                        <p>Delivery Settings</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 com-md-3 cursor-pointer">
                <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                    <div class="text-center card-inner-scn">
                        <i class="icon-suitcase"></i>
                        <p>Self Ordering Systems</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
